.Sidebar {
	transition-behavior: allow-discrete;
	transition-property: transform, display;
	transition-duration: 300ms;

	&[rel="open"] {
		display: block;
	}

	@starting-style {
		display: none;
		transform: translateX(-100%);
	}

	&[rel="closed"] {
		display: none;
		transform: translateX(-100%);
	}
}
